# Токен от BotFather для отправки уведомлений
VITE_TELEGRAM_BOT_TOKEN=вставь_сюда_токен

# ID чатов (начинаются с минуса)
VITE_TELEGRAM_CHAT_SALES=вставь_id_чата_продаж
VITE_TELEGRAM_CHAT_HR=вставь_id_чата_hr

# Публичный ключ от Google reCAPTCHA v2 Checkbox
VITE_RECAPTCHA_SITE_KEY=вставь_ключ_сайта